{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mt-5 mb-4">Modifier une sortie</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="createSortieForm" action="{{ path('modification_sortie') }}" method="post">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                <div class="mb-3">
                    {{ form_row(form.s_nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la sortie','value':form.vars.value.s_nom}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.s_description, {'attr': {'class': 'form-control', 'placeholder': 'Description de la sortie','value':form.vars.value.s_description}}) }}
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.s_date_heure_debut, {'attr': {'class': 'form-control','value':form.vars.value.s_date_heure_debut}}) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.s_duree, {'attr': {'class': 'form-control','value':form.vars.value.s_duree}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.s_date_limite_inscription, {'attr': {'class': 'form-control','value':form.vars.value.s_date_limite_inscription}}) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.s_nombre_inscription_max, {'attr': {'class': 'form-control','value':form.vars.value.s_nombre_inscription_max}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="campus">Campus : </label>
                    <select name="campus" id="campus" class="form-select">
                        {% for campus in campuses %}
                        <option value="{{ campus.id }}" {% if form.vars.value.s_campus == campus.id %} selected {% endif %}>{{ campus.getCNom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr class="mb-4"/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Enregistrer</button>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
