{% extends 'main/accueil.html.twig' %}

{% block listeSorties %}

{% for uneSortie in sorties %}
<tr>
    <th>{{ uneSortie.sNom }}</th>
    <th>{{ uneSortie.sDateHeureDebut.format('Y-m-d H:i') }}</th>
    <th>{{ uneSortie.sDateLimiteInscription.format('Y-m-d H:i') }}</th>
    <th>{{ uneSortie.sNombreInscriptionMax }}</th>
    <th>{{ uneSortie.sEtat }}</th>
    <th><a href="{{ path('sortie_details', {'id':uneSortie.id}) }}" title="View sortie details">Afficher</a>
        <a href="{{ path('modification_sortie', {'id': uneSortie.id}) }}">Modifier</a> - S'inscrire
        {% if uneSortie.sEtat == "Ouvert" %} - S'inscrire{% endif %}
    </th>
</tr>
{% endfor %}

{% endblock %}