{% extends 'main/accueil.html.twig' %}

{% block listeSorties %}

{% for uneSortie in sorties %}
<tr>
    <th>{{ uneSortie.sNom }}</th>
    <th>{{ uneSortie.sDateHeureDebut.format('Y-m-d H:i') }}</th>
    <th>{{ uneSortie.sDateLimiteInscription.format('Y-m-d H:i') }}</th>
    <th>{{ uneSortie.sNombreInscriptionMax }}</th>
    <th>{{ uneSortie.sEtat }}</th>
    <th>{% if uneSortie.sEtat == "Ouvert" %}
            <a href="{{ path('sortie_details', {'id':uneSortie.id}) }}" title="View sortie details">Afficher</a>
            -
            S'inscrire
        {% else %}
            <a href="{{ path('sortie_details', {'id':uneSortie.id}) }}" title="View sortie details">Afficher</a>
        {% endif %}
    </th>
</tr>
{% endfor %}

{% endblock %}